body {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}



.title {
    background-color: aqua;
    text-align: center;
    margin: auto;

}

ul{
    background-color: rgb(23, 21, 158);
    color: white;
    margin: auto;
    text-align: center;
    padding: 8px;
    border: 2px;
}

li {
   display: inline;
   
   margin: 20px;
}

a {
  color: rgb(0, 0, 0);
  background-color: yellow;
}